<ul>
    <li class="complaints-item box-shadow">
        <div class="d-flex  gap-3">
            <div class="img-box">
                <img class="complaints-img" src="../../../assets/imgs/complaint.png" alt="">

            </div>
            <div class="flex-grow-1">
                <div class="d-flex justify-content-between align-items-center ">
                    <div class="font-bold">رقم الشكاوي : 123456</div>
                    <div class="grey-color">منذ 1 ساعة</div>
                </div>
                <div >
                    <p class="font-14 grey-color mt-1 mb-3">هذا النص هو مثال لنص يمكن أن يستبدل بنص أخر </p>
                </div>
                <div class="tab-content d-flex justify-content-between align-items-center py-2">
                    <div>
                        <span class="grey-color font-14 mx-1">
                            <span class="fa fa-book grey-color mx-1"></span>
                            <span>الحالة  :</span>
                        </span>
                        <span class="main-color font-bold">تمت المعالجة</span>
                    
                    </div>
                    <div >
                        <span class="mx-2">عرض المزيد</span>
                        <i class="fa fa-angle-left"></i>


                    </div>
                </div>
    
            </div>

        </div>
      

        
    </li>
    <li class="complaints-item box-shadow">
        <div class="d-flex  gap-3">
            <div class="img-box">
                <img class="complaints-img" src="../../../assets/imgs/complaint.png" alt="">

            </div>
            <div class="flex-grow-1">
                <div class="d-flex justify-content-between align-items-center ">
                    <div class="font-bold">رقم الشكاوي : 123456</div>
                    <div class="grey-color">منذ 1 ساعة</div>
                </div>
                <div >
                    <p class="font-14 grey-color mt-1 mb-3">هذا النص هو مثال لنص يمكن أن يستبدل بنص أخر </p>
                </div>
                <div class="tab-content d-flex justify-content-between align-items-center py-2">
                    <div>
                        <span class="grey-color font-14 mx-1">
                            <span class="fa fa-book grey-color mx-1"></span>
                            <span>الحالة  :</span>
                        </span>
                        <span class="main-color font-bold">تمت المعالجة</span>
                    
                    </div>
                    <div >
                        <!-- <span class="mx-2">عرض المزيد</span>
                        <i class="fa fa-angle-left"></i> -->
                  
                </div>

            </div>
        </div>
    </div>
    </li>
    
    <li class="complaints-item box-shadow">
        <div class="d-flex  gap-3">
            <div class="img-box">
                <img class="complaints-img" src="../../../assets/imgs/complaint.png" alt="">

            </div>
            <div class="flex-grow-1">
                <div class="d-flex justify-content-between align-items-center ">
                    <div class="font-bold">رقم الشكاوي : 123456</div>
                    <div class="grey-color">منذ 1 ساعة</div>
                </div>
                <div >
                    <p class="font-14 grey-color mt-1 mb-3">هذا النص هو مثال لنص يمكن أن يستبدل بنص أخر </p>
                </div>
                <div class="tab-content d-flex justify-content-between align-items-center py-2">
                    <div>
                        <span class="grey-color font-14 mx-1">
                            <span class="fa fa-book grey-color mx-1"></span>
                            <span>الحالة  :</span>
                        </span>
                        <span class="main-color font-bold">تمت المعالجة</span>
                    
                    </div>
                    <div >
                        <span class="mx-2">عرض المزيد</span>
                        <i class="fa fa-angle-left"></i>


                    </div>
                </div>
    
            </div>

        </div>
      

        
    </li>
    <li class="complaints-item box-shadow">
        <div class="d-flex  gap-3">
            <div class="img-box">
                <img class="complaints-img" src="../../../assets/imgs/complaint.png" alt="">

            </div>
            <div class="flex-grow-1">
                <div class="d-flex justify-content-between align-items-center ">
                    <div class="font-bold">رقم الشكاوي : 123456</div>
                    <div class="grey-color">منذ 1 ساعة</div>
                </div>
                <div >
                    <p class="font-14 grey-color mt-1 mb-3">هذا النص هو مثال لنص يمكن أن يستبدل بنص أخر </p>
                </div>
                <div class="tab-content d-flex justify-content-between align-items-center py-2">
                    <div>
                        <span class="grey-color font-14 mx-1">
                            <span class="fa fa-book grey-color mx-1"></span>
                            <span>الحالة  :</span>
                        </span>
                        <span class="main-color font-bold">تمت المعالجة</span>
                    
                    </div>
                    <div >
                      
                        <span class="mx-2">عرض المزيد</span>
                        <i class="fa fa-angle-left"></i>


                    </div>
                </div>
    
            </div>

        </div>
      

        
    </li>
</ul>