<div class="box_product box-shadow">
    <div class="product_img_box w-100 ">
       <img src="../../../../assets/imgs/product.png">
       <!-- <button  >
        <span class="fa fa-heart heart" (click)="enableDisableRule()" [ngClass]="{'red-color' : toggle, 'grey-color': !toggle}"></span>
     </button> -->
     <div>
      <app-heart></app-heart>
     </div>

    </div>
    <aside>
      <div class="d-flex justify-content-between align-items-center p-2">
          <div class="font-bold">سرير تركي</div>
          <span class=" main-color"> 8000 <span> ر.س </span></span>
      </div>
      <div class="d-flex justify-content-between align-items-center pe-2 mb-1">
        <div class="">
          <div class="mb-1 grey-color">فنادق</div>
          <app-rating></app-rating>
        </div>
        <div  class="semi_btn_w">50% off </div>
      </div>
      <div class="d-flex align-items-center justify-content-center my-3">
        <a  [routerLink]="['/proddetail']" class="btn_main btn_main_w product_details_btn ">تفاصيل المنتج</a>



      </div>

    </aside>
  </div>
