<app-header></app-header>
<div class="body-content">
    <div class="sec-marg">
        <div class="container">
            <div class="row justify-content-center mb-2">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="main-content ">
                        <div class="content">
                            <img src="../../../../assets/imgs/Group 97691.png" alt="" lazy="loading"/>
                            <span>الرياض - المملكة العربية السعودية</span>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-2">
                    <div class="main-content ">
                        <div class="content">
                            <img src="../../../../assets/imgs/Group 97692.png" alt="" lazy="loading"/>
                            <span> 966 175 987 190 +</span>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-2">
                    <div class="main-content ">
                        <div class="content">
                            <img src="../../../../assets/imgs/Group 97693.png" alt="" lazy="loading"/>
                            <span>jahez@info.sa</span>
                        </div>

                    </div>
                </div>
            </div>
         
            <div class="sec-contact">
                <div>
                    <h3 class="text-center font-bold">تواصل معنا</h3>
                </div>
                <form>
                    <div class="row justify-content-between mt-4">
                        <div class="col-lg-6 col-12">
                            <div class="form-group">
                                <label for="">الأسم</label>
                                <input type="text" class="form-control" placeholder="الأسم" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="form-group">
                                <label for="">رقم الهاتف</label>
                                <input type="tel" class="form-control" placeholder="958 763 982 + " />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="">رسالتك</label>
                               <textarea class="form-control" placeholder="أترك رسالتك هنا"></textarea>
                            </div>
                        </div>
                    </div>
                    <a routerLink="" class="btn_main">ارسال</a>
                   </form>

            </div>
        
        </div>
    </div>
</div>
<app-footer></app-footer>
