<app-header></app-header>
<div class="body-content">
    <div class="sec-marg">
        <div class="container">
            <div class="notif-box mb-3">
                <span class="notif-icon" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="الاشعارات">
                  <i class="fa fa-bell"></i>     
                </span>
                <div class="flex-grow-1">
                    <p class="mb-2">هذا النص هو مثال لنص أخر يمكن أن يسستبدل في نفس المساحة</p>
                    <div class="d-flex align-items-center grey-color">
                        <i class="far fa-clock"></i>
                        <span >منذ 5 دقائق</span>
                    </div>
                </div>
            </div>
            <div class="notif-box mb-3">
                <span class="notif-icon" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="الاشعارات">
                  <i class="fa fa-bell"></i>     
                </span>
                <div class="flex-grow-1">
                    <p class="mb-2">هذا النص هو مثال لنص أخر يمكن أن يسستبدل في نفس المساحة</p>
                    <div class="d-flex align-items-center grey-color">
                        <i class="far fa-clock"></i>
                        <span >منذ 5 دقائق</span>
                    </div>
                </div>
            </div>

            <div class="notif-box mb-3">
                <span class="notif-icon" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="الاشعارات">
                  <i class="fa fa-bell"></i>     
                </span>
                <div class="flex-grow-1">
                    <p class="mb-2">هذا النص هو مثال لنص أخر يمكن أن يسستبدل في نفس المساحة</p>
                    <div class="d-flex align-items-center grey-color">
                        <i class="far fa-clock"></i>
                        <span >منذ 5 دقائق</span>
                    </div>
                </div>
            </div>

            <div class="notif-box mb-3">
                <span class="notif-icon" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="الاشعارات">
                  <i class="fa fa-bell"></i>     
                </span>
                <div class="flex-grow-1">
                    <p class="mb-2">هذا النص هو مثال لنص أخر يمكن أن يسستبدل في نفس المساحة</p>
                    <div class="d-flex align-items-center grey-color">
                        <i class="far fa-clock"></i>
                        <span >منذ 5 دقائق</span>
                    </div>
                </div>
            </div>
        </div>
      

    </div>
</div>
<app-footer></app-footer>