<div class="head">
    <a  ngbDropdown class="position-relative">
      <button class="btn_main drop_btn" id="navdropdown"
              ngbDropdownToggle><span>القسم</span><i class="fa fa-angle-down mx-1"></i></button>
      <div ngbDropdownMenu="navdropdown">
        <a routerLink="" ngbDropdownItem class="d-flex justify-content-between align-items-center"> <span> قيد الموافقة</span><i class="fa fa-angle-left"></i></a>
        <a routerLink="" ngbDropdownItem class="d-flex justify-content-between align-items-center"> <span> قيد الدفع</span><i class="fa fa-angle-left"></i></a>
        <a routerLink="" ngbDropdownItem class="d-flex justify-content-between align-items-center"> <span>  طلبات حالية</span><i class="fa fa-angle-left"></i></a>
      </div>
    </a>
  </div>