<footer class="">
    <div class="top-footer">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 p-0">
                    <div>
                        <img src="../../../assets/imgs/adrian-sulyok-scfzNLg6rrhQ-unsplash (1).png" loading="lazy">
                    </div>

                </div>
                <div class="col-lg-8 col-12 bg-grey-color d-flex justify-content-center align-items-center">
                   
                       <div class="content  black-color px-4 py-2 ">

                            <div class="font-20 font-bold" >انضم الي نشرة أخبارنا</div>
                            <p class=" my-2">هذا النص  يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص يمكنك أن تولد مثل هذا النص</p>

                        <form >
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="البريد الألكتروني" required>
                                <button type="submit" class="btn_main">اشتراك</button>
                            </div>
                         </form>
                        </div>
                        </div>
                    </div>
             
            </div>
        </div>
    <div class="basic-footer bg-main-color" >

        <div class="container">
            <div class="row ">
                <div class="col-lg-5 col-md-6  ">
                  <app-logo></app-logo>
                  <p class="">هذا النص  يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص  حيث يمكنك أن تولد مثل هذا الن  حيث يمكنك أن تولد مثل هذا الن  حيث يمكنك أن تولد مثل هذا الن </p>

                </div>
                <div class="col-lg-3 col-md-6 ">
                  <div class="foot-title position-relative pb-1  ">
                    <span class="underline-after ">القائمة</span>
                  </div>

                      <div class="content  d-flex gap-5">
                        
            
                          <ul>
                            <li><a [routerLink]="['']" [routerLinkActive]="['active']">الرئيسية</a></li>
                            <li><a [routerLink]="['/bestselling']" >الأكثر مبيعا</a></li>
                            <li><a [routerLink]="['/new']">جديدنا</a></li>
                            <li><a [routerLink]="['/offers']">العروض</a></li>
                          </ul>
                          <ul>
                            
                <li><a [routerLink]="['/favourite']">المفضلة</a></li>
                <li>
                  <a  ngbDropdown class="position-relative ">
                    <button class="" id="navdropdown"
                            ngbDropdownToggle><span>طلباتي</span><i class="fa fa-angle-down mx-1"></i></button>
                    <div ngbDropdownMenu="navdropdown">
                      <a [routerLink]="['/aboutaccept']" ngbDropdownItem class="d-flex justify-content-between align-items-center"> <span> قيد الموافقة</span><i class="fa fa-angle-left"></i></a>
                      <a [routerLink]="['/aboutpaid']" ngbDropdownItem class="d-flex justify-content-between align-items-center"> <span> قيد الدفع</span><i class="fa fa-angle-left"></i></a>
                      <a [routerLink]="['/myrecentorder']" ngbDropdownItem class="d-flex justify-content-between align-items-center"> <span>  طلبات حالية</span><i class="fa fa-angle-left"></i></a>
                      <a [routerLink]="['/endedorders']" ngbDropdownItem class="d-flex justify-content-between align-items-center"> <span>  طلبات منتهية</span><i class="fa fa-angle-left"></i></a>
                    </div>
                  </a>
                </li>
                <li><a [routerLink]="['/contact']">تواصل معنا</a></li>
                          </ul>

                      </div>
                  </div>

                <div class="col-lg-4 col-md-6">
                    <div class="foot-title position-relative pb-1">
                        <span class="underline-after">تواصل معنا</span>
                      </div>
                    <ul>
                        <li class="d-flex align-items-center"><i class="fa fa-globe"></i><span>المملكة العربية السعودية - الرياض</span></li>
                        <li class="d-flex align-items-center"><i class="fa fa-phone"></i><span>  +4990409736277 </span></li>
                        <li class="d-flex align-items-center"><i class="fa fa-envelope"></i><span>المملكة العربية السعودية - الرياض</span></li>


                    </ul>
                </div>
             </div>

            <div class="media-icons d-flex justify-content-between align-items-center flex-wrap">
                <ul class="d-flex justify-content-md-center align-items-center gap-2">
                    <li><a routerLink=""><i class="fa fa-facebook"></i></a></li>
                    <li><a routerLink=""><i class="fa fa-youtube"></i></a></li>
                    <li><a routerLink=""><i class="fa fa-twitter"></i></a></li>
                    <li><a routerLink=""><i class="fa fa-twitter"></i></a></li>
                    <li><a routerLink=""><i class="fa fa-twitter"></i></a></li>
                </ul>

                <div class="font-12">
                    <a routerLink="/"><span>جميع الحقوق محفوظة لمؤسسة </span>جهز <span>@2023</span></a>
                </div>

            </div>
        </div>
     
    </div>
  

</footer>
